<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <%- include('_layouts/head') %>
  <title>Vendor Requests | <%= title %></title>
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

  <%- include('_layouts/sidenavbar') %>

  <!-- BEGIN: Page Main-->
  <div id="main">
    <div class="row">
      <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
        <!-- Search for small screen-->
        <div class="container">
          <div class="row">
            <div class="col s12 m6 l6">
              <h5 class="breadcrumbs-title mt-0 mb-0"><a class="mr-2" href="/"><i class="material-icons">arrow_back</i></a><span>Vendor Requests</span></h5>
            </div>
            <div class="col s12 m6 l6 right-align-md">
              <ol class="breadcrumbs mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Vendor Requests</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="container">
          <div class="section section-data-tables">
            <!-- Page Length Options -->
            <div class="row">
              <div class="col s12">
                <div class="card">
                  <div class="card-content">
                    <%- messages('messages', locals) %>
                    <div class="row">
                      <div class="col s12 overflow">
                        <table id="page-length-option" class="display">
                          <thead>
                            <tr>
                              <th>Sr</th>
                              <th>Vendor Name</th>
                              <th>Event Name</th>
                              <th>Date</th>
                              <th>View</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for( let i=0; i < requests.length; i++ ) { %>
                            <tr>
                              <td><%= i+1 %></td>
                              <td><%= requests[i].vendor.name %></td>
                              <td><%= requests[i].event.name %></td>
                              <td><%= requests[i].date.toLocaleDateString('en-GB') %></td>
                              <td style="max-width: 50px;"><a href="/claim/<%= requests[i].id %>"><i class="material-icons">remove_red_eye</i></a></td>
                              <td>
                                <% if (requests[i].status == 'pending') { %>
                                <a href="/claim/approve/<%= requests[i].id %>" class="waves-effect border-round waves-light btn gradient-45deg-green-teal" onclick="return confirm('Are you sure?');">Approve</a>
                                <a href="/claim/reject/<%= requests[i].id %>" class="waves-effect border-round waves-light btn gradient-45deg-red-pink" onclick="return confirm('Are you sure?');">Reject</a>
                                <% } else if (requests[i].status == 'approved') { %>
                                <span class="chip lighten-5 green green-text">Approved</span>
                                <% } else { %>
                                <span class="chip lighten-5 red red-text">Rejected</span>
                                <% } %>
                              </td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
  <!-- END: Page Main-->

  <%- include('_layouts/commonJs') %>
  <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
  <script src="/app-assets/js/scripts/data-tables.js"></script>
</body>

</html>