<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <%- include('_layouts/head') %>

  <title>company List | <%= title %></title>

  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">

  <style>
    table tr td,
    th {
      text-align: center;
    }
  </style>

</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

  <%- include('_layouts/sidenavbar') %>

  <!-- BEGIN: Page Main-->
  <div id="main">
    <div class="row">

      <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <div class="container">
          <div class="row">
            <%- include('messages', { messages: messages }) %>
            <div class="col s12 m6 l6">
              <h6 class="breadcrumbs-title"><span>Manage Companys</span></h6>
            </div>
            <div class="col s12 m6 l6 right-align-md" style="margin-top: -10px;">
              <ol class="breadcrumbs mb-0">
                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Company List
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>


      <div class="col s12">
        <div class="container">
          <div class="section section-data-tables">
            <!-- Page Length Options -->
            <div class="row">
              <div class="col s12">
                <div class="card">
                  <div class="card-content">
                    <div class="row">
                      <div class="col s12 overflow">
                        <table id="page-length-option" class="display">
                          <thead>
                            <tr>
                              <th>Sr</th>
                              <th>Name</th>
                              <th>Mobile Number</th>
                              <th>Email</th>
                              <th>Created Date</th>
                              <th>View</th>

                              <th data-orderable="false">Status</th>
                              <!-- <th data-orderable="false">Action</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <% for( let i=0; i < users.length; i++ ) { %>
                            <tr>
                              <td><%= i+1 %></td>
                              <td><%= users[i].name %></td>
                              <td><%= users[i].phone %></td>
                              <td><%= users[i].email %></td>
                              <td><%= users[i].date.toISOString().split('T')[0] %> <%=
                                                                users[i].date.toLocaleString('en-US', {
                                                                    timeZone: 'UTC',
                                                                    hour: '2-digit',
                                                                    minute: '2-digit',
                                                                    hour12: true
                                                                  }).replace(',', ''); %>
                              </td>
                              <td style="max-width: 50px;">
                                <a href="/company/<%= users[i].id %>"><i class="material-icons">remove_red_eye</i></a>
                                <a href="/company/delete/<%= users[i].id %>" onclick="return confirm('Are you sure you want to delete company account?')"><i class="material-icons">delete</i></a>
                              </td>
                              <td>
                                <% if (users[i].blocked) { %>
                                <a href="/company/unblock/<%= users[i].id %>" class="waves-effect border-round waves-light btn green mr-1 mb-2" style="padding: 0px 22px 0px 22px;" onclick="return confirm('Are you sure want to unblock this company?');">unblock</a>

                                <% } else { %>
                                <a href="/company/block/<%= users[i].id %>" class="waves-effect border-round waves-light btn red mr-1 mb-2" onclick="return confirm('Are you sure want to block this company?');">block</a>
                                <% } %>
                              </td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
  <!-- END: Page Main-->

  <%- include('_layouts/commonJs') %>
  <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
  <script src="/app-assets/js/scripts/data-tables.js"></script>

</body>

</html>