<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title> FAQ's | <%= title %></title>

</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div class="row">
                <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <h6 class="breadcrumbs-title"><span>Manage FAQ's</span></h6>
                            </div>
                            <div class="col s12 m6 l6 right-align-md" style="margin-top: -10px;">
                                <ol class="breadcrumbs mb-0">
                                    <li class="breadcrumb-item"><a href="/">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active">FAQ's
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-2">
                <%- include('messages', { messages: messages }) %>
                <div class="row">
                    <div class="col s12 right-align-md" style="text-align: right;">
                        <a href="/cms/faq/add" class="btn pull-right btn-add btn-breadcrumbs white-text">Add FAQ</a>
                    </div>
                </div>
            </div>
            <div class="col s12 row mt-2">
                <div class="col s12">
                    <ul class="collapsible collapsible-accordion">
                        <% if(faqs.length > 0){
                            for( let i=0; i < faqs.length; i++ ) { %>
                                <li>
                                    <div class="collapsible-header" tabindex="0">Que: &nbsp;<b><%= faqs[i].en.question %></b></div>
                                    <div class="collapsible-body row pl-1 pr-1">
                                        <div class="col s10 m11 xl11"><%= faqs[i].en.answer %></span>
                                        </div>
                                        <div class="col s2 m1 xl1">
                                            <a href="/cms/faq/edit/<%= faqs[i]._id %>" class="btn-floating theme-bg-warn">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <br/>
                                            <a href="/cms/faq/delete/<%= faqs[i]._id %>"  class="btn-floating  btn-delete" style="margin-top: 10px;">
                                                <i class="material-icons" onclick="return confirm('Are you sure want to delete this FAQ?');">delete</i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        <% } else { %>
                            <h5 style="padding: 10px 10px 20px 10px;">No Data Found!</h5>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <%- include('_layouts/commonJs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="/app-assets/js/scripts/form-file-uploads.min.js"></script>  
   <!-- ===== ckeditor JavaScript ===== -->
   <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

    <script>
        $(document).ready(function() {

            // CKEditor Initialization
            const elements = $('textarea.ta').get();
            Object.keys(elements).forEach(i => {
                CKEDITOR.replace(elements[i].id, {
                    versionCheck: false
                });
            });

            function validateDescription() {
                const value = CKEDITOR.instances['textarea'].getData().trim();
                if (!value) {
                    $('#descriptionError').text('Please enter product description.');
                    return false;
                } else {
                    $('#descriptionError').text('');
                    return true;
                }
            }

            function validateName() {
                const value = $('#name').val().trim();
                if (!value) {
                    $('#name').addClass('error-field');
                    $('#nameError').text('Please enter a product name.');
                    return false;
                } else {
                    $('#name').removeClass('error-field');
                    $('#nameError').text('');
                    return true;
                }
            }

            //REAL-TIME CHECK VALIDATION

            $('#name').on('input', function() {
                validateName();
                if (!validateName()) {
                    $('html, body').animate({ scrollTop: $('#name').offset().top }, 500);
                }
            });
         
            CKEDITOR.instances['textarea'].on('change', function() {
                validateAboutUs();
                if (!validateAboutUs()) {
                    $('html, body').animate({ scrollTop: $('#description').offset().top }, 500);
                }
            });


            // Form Submission Validation
            $('#formValidate0').on('submit', function(e) {
                let valid = true;
                valid &= validateName();
                valid &= validateDescription();

                if (!valid) {
                    e.preventDefault();
                    $('html, body').animate({ scrollTop: $('.error-message:contains("Please")').first().offset().top }, 500);
                }
            });
            
        });
    </script>

</body>

</html>