<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <%- include('_layouts/head') %>
  <title>Manager View | <%= title %></title>
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/page-users.css">

  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">

</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns   " data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

  <%- include('_layouts/sidenavbar') %>

  <!-- BEGIN: Page Main-->
  <div id="main">
    <div class="row">
      <div id="breadcrumbs-wrapper" style="background-color: white;">
        <!-- Search for small screen-->
        <div class="container">
          <div class="row">
            <div class="col s12 m6 l6">
              <h5 class="breadcrumbs-title"><span>Manager View</span></h5>
            </div>
            <div class="col s12 m6 l6 right-align-md">
              <ol class="breadcrumbs mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/manager">Manager</a></li>
                <li class="breadcrumb-item active">Manager Details</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="container">
          <!-- users view start -->
          <div class="section users-view">

            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col s12">
                    <table class="striped">
                      <tbody>
                        <tr>
                          <th style="width: 200px;">Name:</th>
                          <td><%= user.name %></td>
                        </tr>
                        <tr>
                          <th style="width: 200px;">Company:</th>
                          <td><%= user.company.name %></td>
                        </tr>
                        <tr>
                          <th style="width: 200px;">Phone:</th>
                          <td><%= user.phone %></td>
                        </tr>
                        <tr>
                          <th>E-mail:</th>
                          <td><%= user.email %></td>
                        </tr>
                        <tr>
                          <th style="width: 200px;">DOB:</th>
                          <td><%= user.dob %></td>
                        </tr>
                        <tr>
                          <th style="width: 200px;">Gender:</th>
                          <td><%= user.gender %></td>
                        </tr>
                        <tr>
                          <th style="width: 200px;">Address:</th>
                          <td><%= user.address %></td>
                        </tr>
                        <tr>
                          <th style="width: 200px;">City:</th>
                          <td><%= user.city %></td>
                        </tr>
                        <tr>
                          <th style="width: 200px;">State:</th>
                          <td><%= user.state %></td>
                        </tr>

                        <tr>
                          <th>Date created:</th>
                          <td><%= user.date.toLocaleDateString(dateLocale) %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="row">
                  <a onclick="history.back()" class="btn btn-danger mt-2" style="margin-left: 15px;">Back</a>
                </div>
              </div>
            </div>

          </div>
          <!-- users view ends -->
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
  <!-- END: Page Main-->

  <%- include('_layouts/commonJs')  %>
  <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
  <script src="/app-assets/js/scripts/data-tables.js"></script>

</body>

</html>