<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <%- include('_layouts/head') %>
  <title>FAQs | <%= title %></title>
  <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
  <%- include('_layouts/sidenavbar') %>

  <!-- BEGIN: Page Main-->
  <div id="main">
    <div class="row">
      <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
        <div class="container">
          <div class="row">
            <div class="col s12 m6 l6">
              <h5 class="breadcrumbs-title mt-0 mb-0">
                <a class="mr-2" href="/">
                  <i class="material-icons">arrow_back</i>
                </a>
                <span>User FAQs</span>
              </h5>
            </div>
            <div class="col s12 m6 l6 right-align-md">
              <a class="btn gradient-45deg-purple-deep-orange pull-right btn-breadcrumbs" href="/cms/user/faqs/add">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="container">
          <div class="section section-data-tables">
            <!-- Page Length Options -->
            <div class="row">
              <div class="col s12">
                <div class="card">
                  <div class="card-content">
                    <!-- errors -->
                    <%- messages('messages', locals) %>
                    <div class="row">
                      <div class="col s12 overflow">
                        <table id="page-length-option" class="display">
                          <thead>
                            <tr>
                              <th>Sr</th>
                              <th>Question</th>
                              <th>Answer</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for( let i = 0; i < faqs.length; i++ ) { %>
                            <tr>
                              <td><%= i+1 %></td>
                              <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= faqs[i].question %></td>
                              <td style="max-width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= faqs[i].answer %></td>
                              <td style="max-width: 70px;">
                                <a href="/cms/user/faqs/edit/<%= faqs[i].id %>"><i class="material-icons">create</i></a>
                                <a href="/cms/user/faqs/delete/<%= faqs[i].id %>" onclick="return confirm('Are you sure?')"><i class="material-icons">delete</i></a>
                              </td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
  <!-- END: Page Main-->

  <%- include('_layouts/commonJs') %>
  <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
  <script src="/app-assets/js/scripts/data-tables.js"></script>
</body>

</html>